<!DOCTYPE html>
<html>
<head>
    <title>Login Lab</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>Login Lab</h1>

    <input type="email" id="email" placeholder="Email">
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">

    <button onclick="registerUser()">Register</button>
    <button onclick="loginUser()">Login</button>

    <p id="message"></p>
</div>

<script src="/static/script.js"></script>
</body>
</html>
